<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.indigo-pink.min.css">
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <article>
    <header class="title">
      {{ .Title }}
    </header>

    <div class="content">
      {{ .Content }}
    </div>
  </article>
</body>
