<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <base href="{{ .Site.BaseURL }}">
  <title>{{ .Site.Title }}</title>
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.indigo-pink.min.css">
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <section class="two-column">
    <section class="content-list" id="lab-list">
      {{ range first 10 (.Site.Taxonomies.categories.lab.Pages) }}
        <article class="mdl-card">
          <header class="mdl-card__title" style="width: 100%";>
            <a class="block full-width" href="{{ .Permalink }}"> {{ .Title }} </a>
          </header>
          <div class="mdl-card__supporting-text">
            {{ .Date.Format "Jan 2, 2006" }} -
            {{ .Summary }}
          </div>
          <footer class="mdl-card__actions mdl-card--border">
            <a href="{{ .Permalink }}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"> Read more... </a>
          </footer>
        </article>
      {{ end }}
    </section>

    <section class="content-list" id="words-list">
      {{ range first 10 (.Site.Taxonomies.categories.old.Pages) }}
        <article class="mdl-card">
          <header class="mdl-card__title" style="width: 100%";>
            <a class="block full-width" href="{{ .Permalink }}"> {{ .Title }} </a>
          </header>
          <div class="mdl-card__supporting-text">
            {{ .Date.Format "Jan 2, 2006" }} -
            {{ .Summary }}
          </div>
          <footer class="mdl-card__actions">
            <a href="{{ .Permalink }}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"> Read more... </a>
          </footer>
        </article>
      {{ end }}
    </section>
  </section>
</html>
