<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <base href="{{ .Site.BaseURL }}">
  <title>{{ .Site.Title }}</title>
</head>
<body>
  <section class="content-list">
    {{ range first 10 .Site.Taxonomies.categories.blog.Pages }}
      <article>
        <header class="title">
          <a href="{{ .Permalink }}"> {{ .Title }} </a>
          <span class="publish-date">{{ .Date.Format "Jan 2, 2006" }}</span>
        </header>
        <div>
          {{ .Summary }}
        </div>
        <p>
          <a href="{{ .Permalink }}"> Read more... </a>
        </p>
      </article>
      <hr>
    {{ end }}
  </section>
</html>
